<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
  <property name="LOG_HOME" value="/opt/app/server_folder/common_log" />
  <property name="smtpHost" value="smtp.mxhichina.com" />
  <property name="smtpPort" value="25" />
  <property name="username" value="info@nexttrucking.com.cn" />
  <property name="password" value="Next@0217" />
  <property name="SSL" value="false" />
  <property name="email_to" value="dev@nexttrucking.com.cn" />
  <property name="email_from" value="info@nexttrucking.com.cn" />
  <property name="email_subject" value="[Prod Error]: %logger" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>utf-8</charset>
      <Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c]:%L - %m%n</Pattern>
    </encoder>
  </appender>

  <!-- The FILE and ASYNC appenders are here as examples for a production configuration -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_HOME}/commonLogFile.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>90</maxHistory>
    </rollingPolicy>
    <encoder>
      <charset>utf-8</charset>
      <Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c]:%L - %m%n</Pattern>
    </encoder>
  </appender>

  <logger name="com.next.optimus.common.trafficthrottling.*" level="INFO">
    <appender-ref ref="FILE" />
  </logger>
  <logger name="ch.qos.logback" level="WARN"/>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <root level="DEBUG">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
    <!--
    <appender-ref ref="EMAIL"/>
    -->
  </root>

</configuration>